@import url("https://fonts.googleapis.com/css2?family=Praise&display=swap");
@import "mixins";

.header__navigation {
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  @include small {
    display: none;
  }

  .header__branding {
    font-family: "Praise", cursive;
    font-size: 2rem;
    a {
      color: #2c3e50;
      &:hover {
        color: #2c3e50;
      }
    }
  }

  .header__icon_links {
    display: flex;
    align-items: center;
    justify-self: center;
    .header__icon_link {
      padding: 0rem 1rem;
      margin-left: 0.5rem;
      color: #2c3e50;
      &:hover {
        color: #2c3e50;
      }
      svg {
        height: 1.5rem;
        width: auto;
      }
    }
  }
}
