@import "mixins";

.newpost__container {
  width: 50%;
  margin: auto;
  @include small {
    width: 100%;
    padding: 1rem;
  }

  .newpost__container_title {
    text-align: center;
    font-size: 1.4rem;
  }

  .newpost__form_group {
    padding: 0.6rem;

    label {
      display: block;
      margin-bottom: 0.25rem;
    }

    .newpost__form_input {
      width: 100%;
      display: block;
      background-color: #ecf0f1;
      border: 1px solid #7f8c8d;
      font-size: 0.8rem;
      line-height: 1.2rem;
      padding: 0.5rem;
      outline: unset;
    }

    .newpost__form_button {
      background-color: #2c3e50;
      color: #ecf0f1;
      width: 100%;
      display: block;
      font-size: 0.8rem;
      line-height: 1.2rem;
      padding: 0.5rem;
      border: unset;
      cursor: pointer;
    }
  }
}
